{% load static %}

<html>

	<head>
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="{% static 'accounts_style.css' %}">
		<link rel = "icon" href ="{% static 'images/sitelogovector.svg' %}" type = "image/x-icon" >
		<title>JoBoard - Log in</title>
	</head>

	<body>
		<div class="header" style="margin-bottom:20px; margin-top:10px;">
			<h2>Log in</h2>
		</div>
		
		<div class="signup">
			<form action="{% url 'login' %}" method="post">
				{% csrf_token %}
				{% for field in form %}
					<p>
						<b>{{ field.label_tag }}</b>
					</p>
					<p>
						{{ field }}
						<br><br>
					</p>
				{% endfor %}
				<div class="buttonHolder">
					<input type="submit" class="submit-btn" value="Log in"/>
				</div>
			</form>
		</div>
	</body>

</html>
