{% load static %}

<html>

	<head>
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="{% static 'accounts_style.css' %}">
		<link rel = "icon" href ="{% static 'images/sitelogovector.svg' %}" type = "image/x-icon" >
		<title>JoBoard - {{ user.get_username }}'s account</title>
	</head>


	<body>
		{% if user.is_authenticated %}
			<div class="header">
				<h2>Welcome, {{ user.get_username }}!</h2>
			</div>
			<div class="header">
				<button type="button" class="link-btn" onclick="location.href='{% url 'home_page' %}'">Back to JoBoard</button>
				<button type="button" class="link-btn" onclick="location.href='{% url 'logout' %}'">Log Out</button>
			</div>
			
			<div class="signup">
				<p></p><p><a href="{% url 'accounts:profile' %}" style="margin-top:50px; margin-bottom:50px;">Change user details</a><br></p>

				<p><a href="#" style="margin-top:50px; margin-bottom:50px;">My jobs<br></a></p>

				<p><a href="#" style="margin-top:50px; margin-bottom:50px;">My alerts<br></a></p>


			</div>

		{% endif %}

	</body>


</html>
