{% load static %}

<html>

	<head>
		<link rel="stylesheet" href="{% static 'style.css' %}">
		<link rel="stylesheet" href="{% static 'accounts_style.css' %}">
		<link rel = "icon" href ="{% static 'images/sitelogovector.svg' %}" type = "image/x-icon" >
		<title>JoBoard - Create an Account</title>
	</head>

	<body>

		<div class="header">
			<h2 style="margin-top:25px;">Create an account</h2>
		</div>
			
		<div class="signup">
			<form method="post">
				{% csrf_token %}
				{% for field in registration_form %}
					<p>
						<b>{{ field.label_tag }}</b>
					</p>
					<p>
						{{ field }}
						<br><br>
					</p>
				{% endfor %}
				<div class="buttonHolder">
					<input type="submit" class="submit-btn" value="Submit"/>
				</div>
					
			</form>
			<div class="bottomcorner">
			<a href="{% url 'home_page' %}" class="small-link">Back to JoBoard</a>
			</div>
		</div>
		
		
	</body>


</html>
