body {
	font-family: Verdana, sans-serif;
	position: absolute;
	width: 100%;
}

h1, h2{
    font-family: Verdana, sans-serif;
    border-radius: 30px;
	box-shadow: 0px 0px 3px dimgrey;
	text-shadow: 0px 0px 3px grey;
	}

h3{
    font-family: Verdana, sans-serif;
    font-size: 30px;
    margin-top: 5px;
    margin-top: 5px;
    letter-spacing: 1px;
    background-color: #3cbbb1;
	box-shadow: 0px 0px 3px dimgrey;
	text-shadow: 0px 0px 3px grey;
	width:150%;
	text-align: center;
	}

h4{
    font-family: Verdana, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    margin-top: 5px;
    letter-spacing: 1px;
	text-shadow: 0px 0px 3px grey;
	}

.signup {
	display: flex;
	align-self: center;
	justify-content: center;
	size: 150%;
	background: rgba(255,255,255, 0.4);
	position: relative;
	margin: 10px 0px 10px 0px;
	line-height: 20px;
	text-shadow: 0px 0px 3px white;
	box-shadow: 0px 0px 3px dimgrey;
}

.box_bg {
    display: flex;
    flex-wrap: wrap;
    position: relative
	align-self: center;
	align-content: center;
	justify-content: center;
	size: 200%;
	background: rgba(255,255,255, 0.4);
	line-height: 20px;
	text-shadow: 0px 0px 3px white;
	box-shadow: 0px 0px 3px dimgrey;
}

input[type="text"], input[type="email"], input[type="password"], select[id='id_gender'] {
	width: 250px;
	height: 30px;
}

select[id='id_birth_date_day'], select[id='id_birth_date_year'] {
	width: 50px;
	height: 30px;
}

select[id='id_birth_date_year'] {
	width: 60px;
	height: 30px;
}

select[id='id_birth_date_month'] {
	width: 140px;
	height: 30px;
}
					
.buttonHolder { 
	text-align: center;
	size: 200%;
}

.submit-btn {
    margin-top:25px;
    height: 50px;
    width: 100px;
    background: #3cbbb1;
    border: 1px;
    font-size: 20px;
    color: whitesmoke;
	box-shadow: 0px 0px 3px dimgrey;
	text-shadow: 0px 0px 3px grey;
	font-weight: bold;
    border-radius: 25px;
}

.link-btn {
	margin: 0px 10px 20px 10px;
	display: inline;
    height: 25px;
    width: 100px;
    background: #3cbbb1;
    border: none;
    font-size: 10px;
    color: whitesmoke;
    border-radius: 25px;
	box-shadow: 0px 0px 3px dimgrey;
	text-shadow: 0px 0px 3px grey;
	font-weight: bold;

}

.bottomcorner{
	position:absolute;
	bottom: 0;
	left: 0;
}

.small-link:link, .small-link:visited {
	font-size: 10px;
    color: whitesmoke;
    border-radius: 25px;
	text-shadow: 0px 0px 3px grey;
	font-weight: bold;	
}

.success {
	position: relative;
    left: 0;
    top: 0;
    background-color:#3cbbb1;
    color:white ;
    height: 40px;
    width: 100%;
    opacity:75%;
	margin-bottom:10px;}