html{
	height:100%;
}

body{
    margin: 0;
    padding: 0;
    background-image:linear-gradient(rgb(198, 174, 39),rgba(41, 39, 30, 0.5)),url(images/bg-job.png);
    background-position: center;
    background-size: cover;
    font-family: 'varela+round', cursive;}

.header{
    display: flex;
    justify-content: center;
    align-items: center;}

h1{
    margin:auto;
    color: white;
    text-align:center;
	margin-top:7px;
    margin-bottom: 15px;
    font-size: 70px;
    letter-spacing: 2px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #3cbbb1;
    border-radius: 30px;
    outline: none;
	width:60%;}

h2{
    color: white;
    text-align:center;
    margin:auto;
	margin-top:15px;
    margin-bottom: 20px;
    font-size: 55px;
    letter-spacing: 2px;
    font-family: 'Gloria Hallelujah', cursive;
    background-color: #3cbbb1;
    border-radius: 25px;
    outline: none;
	width:80%;}

.search-field{
    height: 50px;
    padding:10px ;
    border: none;
    border-radius: 25px;
    outline: none;
    margin: 10px;}

.job{
    width: 30%;}

.location{
    width:20%;}

.scope{
    width:20%;}

.company{
    width:35%;}

.search-btn{
    margin-top:25px;
    height: 50px;
    width: 150px;
    background: #3cbbb1;
    border: none;
    font-size: 20px;
    color: whitesmoke;
    border-radius: 25px;}

.search-btn:hover{
    background: gray;
    cursor: pointer;}
	
.form-box{
    background: black (0,0,0,0.5);
    border: none;
	width:100%;
	margin-top:50px;
    #position: absolute;
    #top: 35%;
    #left:20%;
    text-align: center;}
	
form{
    margin-top:12px;}

.logo{
    margin-top: 2%;
    top:8%;
    right: -7%;
    width: 15%;
    position: absolute;
    transform: translate(-50%, -50%);}

.btn{
border: none;
background: #3cbbb1;
margin-top: 15px;
border-right: 2px;
color: white;
font-size:17px;
border-right-style: groove;}

.btnn:hover{
    background: grey;}

.footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#3cbbb1;
    color:white ;
    text-align: center;
    height: 40px;
    opacity:70%;
	margin-top:auto;}

.text-muted{
    color: white !important;}

.footerdiv{
margin-top:0.7%;}

.menu{
    display:flex;
}

.showSearch{
    height: 550;
    display: flex;
    justify-content: center;
    align-items: center;
}




  